# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python stuff
*.py[cod]

.egg
*.egg-info
dist
[Bb]uild
eggs
parts
sdist
develop-eggs
.installed.cfg
__pycache__

.sconsign.dblite
