# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files
*~
.nfs*

# build directory
lib

CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles

*.pyc
lib
