.snippet {
	background-color:#ffd;
	font-family:Fixedsys,Courier,monospace;
	padding:10px;
	border:dotted 1px black;
}
.snippet:before {
	width:7.5em;
	display:block;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:10px;
	padding:1px;
	border-color:#999;
	border-right-style:dotted;
	border-right-width:1px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	font-style:italic;
	content: "code snippet";
}

ul.classlist {
	background:#ddd;
	font-family:Fixedsys,Courier,monospace;
	padding: 10px;
	border:dotted 1px black;

	white-space:nowrap;
	list-style-type:none;
}
ul.classlist:before {
	width:4.5em;
	display:block;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:10px;
	padding:1px;
	border-color:#999;
	border-right-style:dotted;
	border-right-width:1px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	font-style:italic;
	content: "classes";
}
ul.classlist > li {
	margin-left:0px;
}

