html, body, p {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	padding:30px;
	padding-top:100px;
	background-image:url(media/avangong.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
}

h1 {
	font-size:1.4em;
}

h2 {
	font-size:1.3em;
}

h3 {
	font-size:1.2em;
}

h4 {
	font-size:1.1em;
}

p {
	line-height:130%;
}

dt {
	font-weight:bold;
}

dd {
	margin-bottom:1em;
	line-height:130%;
}


a {
	color:#666;
}

/* Mark work in progress with class "todo". */
.todo {
	background:yellow;
	border:dotted 3px white;
	padding:3px;
}

/* Add todo label */

.todo:before {
	content: "To do: ";
}

/* Side notes should be formatted with <div class="sidenote"> */

.sidenote {
	background-color:#fdf;
	padding:10px;
	border:dotted 1px black;
}

/* insert "side note" badge */

.sidenote:before {
	font-family:Fixedsys,Courier,monospace;
	width:7.5em;
	display:block;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:10px;
	padding:1px;
	border-color:#999;
	border-right-style:dotted;
	border-right-width:1px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	font-style:italic;
	content: "side note";
}

/* Code snippets should be formatted with <div class="snippet"> */

.snippet {
	background-color:#ffd;
	font-family:Fixedsys,Courier,monospace;
	padding:10px;
	border:dotted 1px black;
}

/* insert "code snippet" badge */

.snippet:before {
	width:7.5em;
	display:block;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:10px;
	padding:1px;
	border-color:#999;
	border-right-style:dotted;
	border-right-width:1px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	font-style:italic;
	content: "code snippet";
}

/* Class lists - displayed in a separate block. TODO: Make consistent with other lists */

ul.classlist {
	background:#ddd;
	font-family:Fixedsys,Courier,monospace;
	padding: 10px;
	border:dotted 1px black;

	white-space:nowrap;
	list-style-type:none;
}

/* Add "classes" badge */

ul.classlist:before {
	width:4.5em;
	display:block;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:10px;
	padding:1px;
	border-color:#999;
	border-right-style:dotted;
	border-right-width:1px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	font-style:italic;
	content: "classes";
}

/* Mark the name of the person who is supposed to contribute to the documentation */

.who {
	color:red;
}
